<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/signup">Create an Account &rarr;</a>
<p>

<h2>Or Login With</h2>
<a href='#'><img src="/Github_logo.jpg" class="login"></a>
<button class="getGitHub">test</button>
<button class="getGitHubUsername">get name</button>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
  $(document).ready(function() {

    var token;

    $('img.login').click(function (e){
      e.preventDefault();
      window.location = 'https://github.com/login/oauth/authorize?client_id=7ba6eaaaf9bc86989896';
    });

    $('button.getGitHub').click(function (){
      var code = window.location.href.match(/\?code=(.*)/)[1];
      $.getJSON('http://localhost:9999/authenticate/'+code, function(data) {
        console.log('token',data.token);
        token = data.token;
      });
    })

    $('button.getGitHubUsername').click(function (){
      $.ajax({
        method: 'GET',
        url: 'https://api.github.com/user?access_token=' + token,
        // headers: {
        //   'User-Agent': 'Shortly-Express'
        // }
      })
        .done(function (err, res, body) {
          console.log(body);
        });
    });

  });

  // var code = window.location.href.match(/\?code=(.*)/)[1];
  // $.getJSON('http://localhost:9999/authenticate/'+code, function(data) {
  //   console.log(data.token);
  // });
</script>
